// after everything

@import "header";
@import "content";
@import "sidebar";
@import "footer";



// made with sections:
body > .section {
    padding-top: 30px;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center center ;
    position: relative;
    background-size: cover ;
    @include breakpoint(medium) {
        padding-top: 50px;
        padding-bottom: 50px;
    } // end breakpoint medium
    @include breakpoint(large) {
        padding-top: 70px;
        padding-bottom: 70px;
    } // end breakpoint large
}