// general 
.fsi { font-style: italic; }
.clear { clear: both; }
.clearfix { @include clearfix(); }
// font weight
$fw : (100,300,400,500,700,900) ;
@each $curent_font_weight in $fw {
    .fw#{$curent_font_weight}{
        font-weight : #{$curent_font_weight};
    }  
}
// font sizes
$fz_min : 14;
$fz_max : 80;
$fz_breaks : (
    small : 18,
    medium: 24,
    large : 32,
    xlarge: 40          
);
@for $fz_now from $fz_min through $fz_max {
    .fz#{$fz_now} {
        
        $line_heights : ceil($fz_now / 14 ) ; // basically this adds more size the greather the font size is. So for 80px will add more than for 50px
        @each $fz_break_point , $fz_break_size in $fz_breaks {
            $temp_reduct : 0;
            @if $fz_break_size  <= $fz_now {
                $temp_reduct : ceil($fz_now / $fz_break_size ) + $line_heights ; // calculate amount of px to add on every break point
            }
            @if $fz_break_point == 'small' {
                $temp_fz : $fz_break_size + $temp_reduct ;
                @if $temp_fz > $fz_now {
                    $temp_fz : $fz_now ;
                }
                font-size: #{$temp_fz}px;
                    
            } @else {
                @include breakpoint($fz_break_point) {
                    // font-size: #{$fz_break_size}px;
                    $temp_fz : $fz_break_size + $temp_reduct ;
                    @if $fz_break_point == 'xlarge' and $fz_now >= $fz_break_size {
                        $temp_fz : $fz_now ;
                    } 
                    @if $temp_fz <= $fz_now {
                        font-size: #{$temp_fz}px;
                        
                    }
                } // end breakpoint $fz_break_point

            }
            
           
        }
    }
}

// margins & paddings
$spacingVals : (0,5,10,15,20,25,30);
@each $space in $spacingVals {
    .mb#{$space} { margin-bottom : #{$space}px;}
    .mt#{$space} { margin-top    : #{$space}px;}
    .m#{$space}  { margin        : #{$space}px;}
    .ml#{$space} { margin-left   : #{$space}px;}
    .mr#{$space} { margin-right  : #{$space}px;}
    .pb#{$space} { padding-bottom: #{$space}px;}
    .pt#{$space} { padding-top   : #{$space}px;}
    .p#{$space}  { padding       : #{$space}px;}
    .pl#{$space} { padding-left  : #{$space}px;}
    .pr#{$space} { padding-right : #{$space}px;}
}

// wp fixes
.text-center { text-align: center; }
.text-right { text-align: right; }
a.alignright, img.alignright, .wp-caption.alignright { margin: 0 0 24px 24px; }
.alignright { float: right; text-align: right; }
a.alignleft, img.alignleft, .wp-caption.alignleft { margin: 0 24px 24px 0; }
.alignleft {float: left; text-align: left;}
.aligncenter { margin: 0 auto 20px; display: block;width: auto; }

    


